<h1> List of all Search Results </h1> 

<table> 
<tr> 
<th> Title </th>
<th> Author </th> 
<th> ISBN </th> 
<th> Copies </th> 
<th></th> 
</tr> 

<% @search.each do |book| %> 
    <tr> 
    <td> <%= book.title %> </td>
    <td> <%= book.author %> </td>
    <td> <%= book.isbn %> </td>
    <td> <%= book.copies %> </td>
    <td> <%= link_to "Reviews", book_reviews_path(book) %>  </td> 
    <td> <%= link_to "Add Review", new_book_review_path(book) %> </td>
<% end %> 
</table> 
<td><%= link_to "Back", patrons_search_path %> </td>