<p>
<strong>Title:</strong>
<%=	@book.title %>
</p>

<p>
<strong>Author:</strong>
<%=	@book.author %>
</p>

<p> 
<strong> ISBN:</string> 
<%= @book.isbn %>
</p> 

<p> 
<strong>Copies:</strong> 
<%= @book.copies %> 
</p> 
<p> 
<%= link_to "Back", administrators_index_path%> 
</p> 